In [1]:
import sys
sys.path.append('C:\\Users\\monty.minh\\Documents\\Optimizer\\')

In [4]:
from model import *
from model.data import Data, Results

In [7]:
Data.filepath = 'C:/Users/monty.minh/Documents/Optimizer/0. Inputs/Inputs Example.xlsm'
Results.save_location = 'C:\\Users\\monty.minh\\Documents\\Optimizer\\Postprocessing Notebooks\\Results.xlsx'

In [10]:
Data.product_list = pd.read_excel(
        Data.filepath, sheet_name='Product List')['PRODUCT'].values.tolist()

In [36]:
Data.year = 2022

In [58]:
df = pd.read_excel(Data.filepath,
                   sheet_name='Factory Per Product',
                   index_col=0)

Data.factory_names = {
    prod: [fac.strip(str(Data.year) + " - ") for fac in df.columns[df.loc[prod]] if str(Data.year) in fac]
    for prod in Data.product_list
}

In [59]:
Data.factory_names

{'Bag': ['Binh Dinh', 'Hai Phong'], 'Bulk': ['Binh Dinh']}

In [47]:
prod = 'Bag'

['2022 - Binh Dinh', '2022 - Hai Phong']

In [38]:
df

      2022 - Binh Dinh  2022 - Hai Phong  2023 - Binh Dinh  2023 - Hai Phong
Bag               True              True              True              True
Bulk              True             False              True             False